.container {
    max-width: 1300px;
    margin: auto;
    padding: 10px 5px;
}

.main {
    padding-top: 1%;
}


.notesList {
    margin-top: 1%;
    list-style: none;
    font-size: calc( 20px + 2vw);
}
